.container {
	padding-top: 14rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.group1 {
	width: 30%;
    margin: 5px auto;
    display: inline;
    text-align: center;
	float: left !important;
	
}
.group2 {
	width: 30%;
    margin: 5px auto;
    display: inline;
	text-align: center;
	float: right !important;
	padding-left: 2rem;
}
.deck {
	width: 85%;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: -82px -2px 3em;
}
.card {
	height: 7.7rem;
    width: 8.7rem;
    margin: 1.5rem 4.2rem;
    font-size: 0;
    color: #ffffff;
    border-radius: 30px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1.5px solid #1089ff;
	
}


@media (max-width: 320px) {
	.deck {
		width: 85%;
	}

	.deck.card {
		height: 3.2rem;
		width: 3.2rem;
	}
}
