<div class="container" (window:resize)="onResize($event)">
  <div class="row col-md-12 d-flex inline-block deck">
    <div class = "group1">
      <div class="card float-left custom-box left-pointer" id="one-left"
        value="1" index="0"><img src="http://mathplay-library.s3.amazonaws.com/Hoc_Hay/Lop_1/test3_d.png"
          style="margin:5px;max-width:100%;height:70px;" width="70px"></div>

      <div class="card float-left custom-box left-pointer" id="two-left"
        value="2" index="1"><img src="http://mathplay-library.s3.amazonaws.com/Hoc_Hay/Lop_1/test3_e.png"
          style="margin:5px;max-width:100%;height:70px;" width="70px"></div>

      <div class="card float-left custom-box left-pointer" id="three-left"
        value="3" index="2"><img src="http://mathplay-library.s3.amazonaws.com/Hoc_Hay/Lop_1/test3_f.png"
          style="margin:5px;max-width:100%;height:70px;" width="70px"></div>
    </div>
<div class = "group2">
      <div class=" card float-left custom-box right-pointer" id="one-right"
        value="1"><img src="http://mathplay-library.s3.amazonaws.com/Hoc_Hay/Lop_1/test3_a.png"
          style="margin:5px;max-width:100%;height:70px;" width="70px"></div>

      <div class="card float-left custom-box right-pointer" id="two-right"
        value="2"><img src="http://mathplay-library.s3.amazonaws.com/Hoc_Hay/Lop_1/test3_b.png"
          style="margin:5px;max-width:100%;height:70px;" width="70px"></div>

      <div class="card float-left custom-box right-pointer" id="three-right"
        value="3"><img src="http://mathplay-library.s3.amazonaws.com/Hoc_Hay/Lop_1/test_3_c.png"
          style="margin:5px;max-width:100%;height:70px;" width="70px"></div>
    </div>
  </div>
</div>